In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
pd.read_excel("Student_performance.xlsx")

,Access_no,gender,age,course,DSC3108,DSC3114,MTH3108,SYE3104
0,123,female,21,Computer_Science,89.0,88.0,72,65
1,415,male,22,Computer_Science,91.0,98.0,88,89
2,321,male,21,Data_Science,73.0,70.0,38,41
3,124,female,21,Information_Technology,30.0,40.0,60,31
4,314,female,22,Computer_Science,70.0,75.0,78,60
5,891,male,21,Information_Technology,25.0,70.0,69,19
6,729,female,22,Data_Science,65.0,80.0,38,43
7,892,female,21,Data_Science,90.0,95.0,92,93
8,545,male,22,NaN,54.0,69.0,78,77
9,718,female,21,Information_Technology,NaN,78.0,79,88
10,390,male,22,Computer_Science,45.0,NaN,79,85

In [4]:
SP=pd.read_excel("Student_performance.xlsx")

In [7]:
#probability of a student studying information_technology
IT = SP[SP['course'] == 'Information_Technology']
IT
sample_space = SP['course']
IT_probability = len(IT)/len(sample_space)
print(f"The probability of a student studying information_technology is: {IT_probability}")

The probability of a student studying information_technology is: 0.2727272727272727

In [8]:
#probability of female student studying computer science
joint_event = SP[(SP['gender'] == 'female')&(SP['course'] == 'Computer_Science')]
joint_probability = len(joint_event)/len(SP)
print(f"The probability that a female student is studying computer science is: {joint_probability}")

The probability that a female student is studying computer science is: 0.18181818181818182

In [9]:
#probability of male students studying data science
male_data = SP[(SP['gender'] == 'male')&(SP['course'] == 'Data_Science')]
male_data_probability = len(male_data)/len(SP)
print(f"The probability that male students study Data Science is: {male_data_probability}")

The probability that male students study Data Science is: 0.09090909090909091